/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../lib/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #242222;

$mainColor: #fcfcfc;
$highlight_color: #f30920;
$headingColor: $highlight_color;

// $mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: $highlight_color;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2em;
$heading2Size: 1.38em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;

// Change text colors against light slide backgrounds
@include light-bg-text-color(#222);

// Provide a logo
.slide-background {background-image: url(../img/logo_array.png);}

//   override highlight

$headingTextShadow: black;


// The old white stuff--------------------------
@import "../template/subtemplate";

.reveal ul {list-style-type: none;}

ul > li:before {
  content: "â—";
  position: absolute;
  margin-left: -1.1em;
	color: $highlight_color;
  font-size: 0.7em;
}

// clear ul for sub-points
ul ul > li:before {
  content: ""; /* empty */
  }
