/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../lib/font/source-sans-pro/source-sans-pro.css);
// @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fcfcfc;
$highlight_color: #0098db;
$linkColor: $highlight_color;
$mainColor: #3a3a3a;
$heading1Size: 2em;
$heading2Size: 1.38em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;
$mainFont: 'Lato', Helvetica, sans-serif;
$headingFont: 'Lato', Helvetica, sans-serif;
$footer_color: $backgroundColor;





// The old white stuff--------------------------
@import "../template/subtemplate";


.slide-background {
    background-image: url(../img/logo_array.png),
        url(../img/lower_oniro.svg);

        background-position:
          bottom 2% left 4%,
          bottom 0px center;

        background-size:
          10.5%,
          100%;}


// .reveal ul {list-style-type: disc;}
//
//
// ul > li::before {
//   color: $highlight_color;
// }
//
// // clear ul for sub-points
// ul ul > li:before {
//   content: ""; /* empty */
//   }
//
// ul ul > li {
//   list-style-type: circle;
// }
//
// // oniro style headings
//
// h1::before {content: url(../../assets/img/purple_triangle.png) ;
//               margin-right: 0.5em;}
//
//
// h1,  h2 {
//  text-shadow: 1px 1px  #533b8f;
// }
//
// // Provide a logo
//
// .slide-background {
//     background-image: url(../img/logo_array.png),
//         url(../img/lower_oniro.svg);
//
//         background-position:
//           bottom 2% left 4%,
//           bottom 0px center;
//
//         background-size:
//           10.5%,
//           100%;}
